<ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/realTimeProducts">Real time products</a></li>
    <li><a href="/api/products">Api products</a></li>
</ul>
<link rel="stylesheet" href="/css/styles.css">