<!-- src/views/404.handlebars -->
<h1>Página No Encontrada</h1>
<p>Lo siento, la página que estás buscando no existe.</p>
 <div class="button-container">
    <a href="/realTimeProducts" class="btn btn-primary">Volver a formulario</a>
  </div>